.cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0;
  list-style: none;
}

.cart-item {
  border: 1px solid #000;
  padding: 10px;
  &__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  &__price {
  }
  &__amount {
  }
}
