#modal .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;

  .modal__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.show {
    display: block;
  }
}
