.products {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.product-item {
  border: 1px solid #000;
  padding: 10px;

  &__image {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
}
