.cart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cart-item {
  border: 1px solid #000;
  padding: 10px;
  &__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  &__price {
  }
  &__amount {
  }
}

.cart-willpay {
  border: 1px solid #000;
  padding: 10px;

  ul {
    display: flex;
    gap: 10px;
  }

  li {
    border: 1px solid #000;
    padding: 10px;
  }
  img {
    width: 100px;
    height: 75px;
    object-fit: contain;
  }
}
